# Python
__pycache__/
*.py[cod]
*.so
.Python
.ipynb_checkpoints/
.venv/
venv/
env/
.env
.DS_Store
.idea/
.vscode/
*.log
# Data & artifacts
data/raw/
models/
experiments/
logs/
reports/figures/
# TensorFlow/Keras
*.h5
*.keras
*.pb
checkpoint
*.ckpt*
# Tuner/Optuna
tuning/
*.sqlite

# Deployment Whitelist (Force track these files)
!models/feature_scaler.pkl
!models/rossmann_lstm_best.keras
!data/processed/rossmann_processed.csv
